{%extends "registration/base.html"%}\
{% load bootstrap3 %}
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<section class="insta-index_content">
  <img src="https://images.indianexpress.com/2016/09/instagram-7591.jpg" style="width: 100%; height:100%;" alt="Instagram phones" class="insta-index_phones">
  <section class="insta-index_data">
    
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwHnp1jEmRAMah_qx0cBJgZNy39R6rCJSoNZir4SJFQHg5cfXP&s" alt="Instagram logo" class="insta-form_image">
   
  </section>
</section>  
<h2>Sign up</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %} 
        {% bootstrap_form form %}
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>      
{% endblock %} 
