{% load bootstrap3 %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% if title %}
    <title>Instagram - {{title}}</title>
    {% else%}
    <title>Instagram</title>
    {% endif %}
    {% block styles%}
    <link rel="stylesheet" href="{% static 'css/insta.css' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/insta.css'%}">
    {% endblock %}
</head>
<body>
  <div class="content_container">
    {%block content %}
    {%endblock%}
  </div>
</body>
</html>