<footer class="insta-footer">
	<ul class="insta-footer_list">
		<li class="insta-footer_item">Information</li>
		<li class="insta-footer_item">Asistance</li>
		<li class="insta-footer_item">Blog</li>
		<li class="insta-footer_item">Press</li>
		<li class="insta-footer_item">API</li>
		<li class="insta-footer_item">job</li>
		<li class="insta-footer_item">Privacy</li>
		<li class="insta-footer_item">Terms</li>
		<li class="insta-footer_item">directory</li>
		<li class="insta-footer_item">Profiles</li>
		<li class="insta-footer_item">Hashtags</li>
		<li class="insta-footer_item">Language</li>
	</ul>
	<p class="insta-footer_copyright">© 2020 Instagram</p>
</footer>