 
{% extends "base.html" %}
{%load bootstrap3%}
{% load static %}

{% block maincontent %}
	{% include "navbar.html" %}

    <section class="insta-home">
        <section class="insta-cards">
            {% for post in complete_post %}
                {% include "comment.html" %}
            {% endfor %}
        </section>
        <section class="insta-users">
            <section class="insta-users-header">
                <img src="{% static '' %}{{ current_user.photo|default_if_none:'images/default.png' }}" alt="user picture" class="insta-users-profilepicture">
                <p class="insta-users-username">password</p>
            </section>
            <section class="insta-users-titles">
                <span>Users</span>
                <a herf="">See all</a>
            </section>
            <section class="insta-users-users">
                {% for user in all_users %}
                <a href="{% url 'profile' user.username %}" class="insta-users-user">
                    <img src="{% static '' %}{{ user.post.photo|default_if_none:'images/default.png' }}" alt="picture" class="insta-users-user-profilepicture">
                    <span class="insta-users-username">{{ user.username }}</span>
                </a>
                {% endfor %}
            </section>
        </section>
    </section>


	{% include "footer.html" %}
{% endblock %}