{% extends "base.html" %}
{%load bootstrap3%}
{% load static %}

{% block maincontent %}
	<section class="insta-index_content">
		<img src="https://images.indianexpress.com/2016/09/instagram-7591.jpg" style="width: 100%; height:100%;" alt="Instagram phones" class="insta-index_phones">
		<section class="insta-index_data">
			<form method="POST" action="{% url 'login' %}" class="insta-index_box insta-form" autocomplete="off">
				{% csrf_token %}
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwHnp1jEmRAMah_qx0cBJgZNy39R6rCJSoNZir4SJFQHg5cfXP&s" alt="Instagram logo" class="insta-form_image">
				<input class="insta-form_input" name="username" type="text" placeholder="username" required>
				<input class="insta-form_input" name="password" type="password" placeholder="password" required>
				<button class="insta-form_button" ><a href="{% url 'home' %}"></a>Sign in</button>
			</form>
			<section class="insta-index_box">
				<p class="insta-index_login">You don't have an account yet ? <a href="{% url 'index' %}">Sign up</a></p>
			</section>
		</section>
	</section>
	{% include "footer.html" %}
{% endblock %}