{% load static %}
{% load bootstrap3 %}
<nav class="insta-navbar" id="insta-navbar">
    <section class="insta-navbar_content">
        <a href="{% url 'home' %}" class="insta-navbar_section">
            <span class="fa fa-instagram insta-navbar_logo"></span>
            <span class="insta-navbar_separator"></span>
            <img class="insta-navbar_letras" src="{% static 'images/instagram_logo_letras.png' %}" alt="Instagram">
        </a>
        <form method="POST" action="{% url 'search' %}" autocomplete="off">
            {% csrf_token %}
            <input type="search" placeholder="search" name="search_username" class="insta-navbar_input">
        </form>
        <section class="insta-navbar_section">
            <a href="{% url 'upload' %}" class="fa fa-camera insta-navbar_icon"></a>
            <a href="{% url 'profile'  username  %}" class="fa fa-user-o insta-navbar_icon"></a>
            <a href="{% url 'logout' %}" class="fa fa-sign-out insta-navbar_icon"></a>
        </section>
    </section>
</nav>
<div class="col-sm-6 col-md-6">
  {% if user.is_authenticated %}
  <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                <span class="caret"></span>
            </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{%url 'home'%}">Home</a>
        </li>
        <li>
          <a href="/accounts/password/change">Change Password</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  {% else %}
  <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li>

  {% endif %}
</div>