{% extends 'base.html'%}
{%load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/insta.css' %}">
{% include 'navbar.html' %}
    {% for post in posts %}
        <div class="card">
            <div class="card_header">
                <div class="profile_image">

                </div>
                <div class="post_info">
                    <div class="post_name">{{ post.author }}</div>
                    <div class="post_location">Nairobi</div>
                </div>
                <div class="post_options"><i class="fas fa-ellipsis-h"></i></div>
            </div>
            <div class="post_image">
                {% if post.image %}
                    <img src="{{posts.image.url }}" alt="image">
                {% endif %}
            </div>
            <div class="engagement">
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="far fa-comment"></i></a>
                <a href=""><i class="far fa-paper-plane"></i></a>
                <a href=""><i class="far fa-bookmark"></i></a>                
            </div>
            <div class="likes"><a href="">345</a>
                
            </div>
            <div class="caption">
                
                <a href=""><h2>{{ post.author }}</h2> </a>
                <img src="{{image.url}}" class="img-responsive" alt="Image">
                <p>{{image.url}}</p>
                <span><p>{{post.caption}}</p></span>
                <div class="engagement">
                        <a href=""><i class="far fa-heart"></i></a>
                        <a href=""><i class="far fa-comment"></i></a>
                        <a href=""><i class="far fa-paper-plane"></i></a>
                        <a href=""><i class="far fa-bookmark"></i></a>                
                    </div>
            </div>
            <div class="time_posted">
                {{ post.created_date | timesince }} ago
            </div>
        </div>
    {% endfor %}
{% endblock %}